
form, fieldset {
	display: inline;
	border: none;
	margin: 0px;
	padding: 0px;
}

table {
	border: 1px solid;
	border-collapse: collapse;
	width: 600px;
}
th {
	border: 1px solid;
	text-align: right;
	width: 170px;
}
td {
	border: 1px solid;
}

input, textarea, select {
	padding: 5px;
	width: 415px;
	display: block;
}

input.radio, input.checkbox {
	display: inline;
	width: auto;
}

#messages {
	color: red;
}

input[type="submit"], input[type="reset"] {
	display: inline;
	height: 31px;
	width: 79px;
	cursor: pointer;
	font-weight: bold;
	padding: 5px 14px;
	color: #fff;
	border: 1px solid #3792b3;
	background: #3792b3 url(glass.png) repeat-x 0 50%;
	border-radius: 14px;
	-webkit-border-radius: 14px;
	-moz-border-radius: 14px;
}

input[type="submit"]:hover, input[type="reset"]:hover {
	border: 1px solid #a14141;
	background-color: #a14141;
}

